<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<body>

    

    <div id="app">

        <button @click="addItem">点击添加数据</button>

        <div v-if="listItem.length>0">
            <ul v-for="data in listItem">
                <li>{{data}}</li>

            </ul>
        </div>

        <div v-else>列表没有数据</div>





        <span v-if="transactionType==1">银行付款</span>

        <span v-else-if="transactionType==2">银行收款</span>
        <span v-else="transactionType==3">其他业务类型</span>



    </div>
    
</body>

<script>



var vm=new Vue({
    el:"#app",
    data:{
        listItem:[],
        transactionType:1
    },
    methods:{
        addItem(){
            this.listItem.push("aaa");
            this.listItem.push("bbb");
        }

    }

});



</script>


</html>